# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# editor mergetool backup files
*~
*.bak
*.orig

# Executables
*.exe
*.out
*.app
*.core

# Project Specific Executables
/src/Qt/FullereneViewer
/src/ca-char
/src/ca-cmp
/src/ca-generator
/src/ca-gentest
/src/ca-loop
/src/ca-mirror
/src/ca-modeling
/src/ca-sort
/src/ca-test
/src/ca-uniq

# Project Specific temporary files
/src/Qt/Makefile
/src/Qt/moc_*.cpp
/src/Qt/qrc_*.cpp
/src/Qt/ui_*.h
/src/Qt/Info.plist
/src/Qt/build
/src/Qt/FullereneViewer.xcodeproj
/src/Qt/FullereneViewer.pro.user
/src/build-*
/src/Depend.mk
*.gen

# Project Specific extra files
archive.name
archive.list
GPATH
GRTAGS
GTAGS
ID
/*.html
/doc/*.html
/doc/*/*.html
/generator-formulas/ca-tubes.mirror/T?,?,?
/generator-formulas/ca-tubes.mirror/T1?,?,?
/generator-formulas/ca-tubes.mirror/T?,1?,?

# OS oriented files
.DS_Store

# Qt Tools oriented files
.qmake.stash
