# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# editor mergetool backup files
*~
*.bak
*.orig

# Executables
*.exe
*.out
*.app
*.core

# Project Specific Executables
src/Qt/FullereneViewer
src/ca-char
src/ca-cmp
src/ca-generator
src/ca-loop
src/ca-modeling
src/ca-sort
src/ca-test
src/ca-uniq

# Project Specific temporary files
src/Qt/Makefile
src/Qt/moc_*.cpp
src/Qt/qrc_*.cpp
src/Qt/ui_*.h
src/Qt/Info.plist
src/Qt/build
src/Qt/FullereneViewer.xcodeproj
src/Qt/FullereneViewer.pro.user
src/build-*

# Project Specific extra files
archive.name
archive.list
GPATH
GRTAGS
GTAGS
ID
*.html

# OS oriented files
.DS_Store

# Qt Tools oriented files
.qmake.stash
